<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Home</title>
    <link rel="stylesheet" href="home.css" />
  </head>
  <body>
    <div id="container">
      <div id="text">
        <b style="font-size: 60px">Welcome</b>
        <br> to Student Registration for schooling in <u>ZPHS</u>
      </div>
      <img src="school.png" alt="missing"/>
      <div id="tran">
        <p>For Registration</p>
        <a href="/form">
           <button>Click here</button>
        </a>
      </div>
    </div>
   <script>
document.getElementsByTagName("body")[0].style.height = window.innerHeight+"px";
   </script>
   </body>
</html>
